* {
  margin: 0;
  padding: 0;
}
nav.navbar.navbar-expand-lg {
  background-color: #eef9e8;
}
a {
  color: black;
}
p {
  margin-top: 0;
  margin-bottom: 0rem;
}
.cacicon {
  position: absolute;
  padding: 4px;
  top: 10px;
}
.nho {
  font-size: 15px;
  padding: 9px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
  opacity: 0;
}
.nho:hover {
  background-color: orangered;
  color: white;
}
.the:hover .nho {
  opacity: 1;
}
.gia {
  color: orangered;
  font-size: 18px;
  font-weight: bold;
}
.giacu {
  text-decoration: line-through;
  opacity: 0.5;
}
span.giam {
  color: white;
  background-color: orangered;
  border-radius: 8px;
  font-size: 17px;
  padding: 3px;
}
img.card-img-top {
  max-height: 170.5px;
}
.card-body {
  padding: 0;
}
.hinhtron {
  width: 100%;
}
/* phandangnhap */
.anh {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
button.facebook.mx-auto {
  padding: 10px;
  background-color: #3578e5;
  border-radius: 24px;
  color: white;
  font-weight: 700;
}
.login {
  width: 50%;
  margin: 0 auto;
  border: solid 1px;
  padding: 10px;
  background-color: oldlace;
  border-radius: 5px;
  border-color: gray;
}
/* xemvedoituong,xem thêm */
.view-detail-pro .price {
  display: inline-block;
  color: #eb1c23;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}
