<html lang="en">
    <head>
        <% include ../head/headindex %>
    </head>
<body>
    <% include ../menu %>
    <div class="container mt-4" >
            <div class="row">
                    <div class="tron col-md-6 col-12" >
                            <img class="anh mx-auto d-block"  src="https://i.pinimg.com/564x/e9/fd/83/e9fd83f1d9beb90948dea222180d13f1.jpg" > <br>
                    </div>
                    <div class="col-md-6 col-12">
                            
                            <div><h4 class="_1T_O68Mm_oxncL_Dx-IQpV">Bữa Sáng Tiện Lợi</h4>
                            <div class="_3a24vGtWI3MXkWiIX3iRxe">Bữa sáng được xem là bữa ăn quan trọng nhất trong ngày. Không chỉ vậy, bữa sáng còn là bữa chính đối với những gia đình bận rộn, là thời điểm tuyệt vời để các thành viên trò chuyện, chia sẻ với nhau về công việc, học tập. Tuy nhiên, thật khó có nhiều thời gian để chuẩn bị một bữa ăn đủ chất dinh dưỡng, nhanh chóng. Dưới đây là một số công thức bữa sáng tiện lợi và dinh dưỡng giúp bạn có một ngày mới phấn khởi!</div></div>            
                    </div>
            </div>
    </div>
    <div class="container MT-4">    
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-12">
                      <iframe class="video-responsive" style="width:100%;margin-bottom: 10px;" width="288" height="172" src="https://www.youtube.com/embed/roFlTQjNv28" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <div>
                          <h5>Ngũ Cốc Táo Hương Quế Mát Lạnh</h5>
                          <h6>The Yummy Life</h6>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-12">
                            <iframe class="video-responsive" style="width:100%;margin-bottom: 10px;" width="288" height="172" src="https://www.youtube.com/embed/roFlTQjNv28" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div>
                                <h5>Ngũ Cốc Táo Hương Quế Mát Lạnh</h5>
                                <h6>The Yummy Life</h6>
                            </div>
                          </div>
                    <div class="col-md-3 col-sm-12 col-12"> 
                        <iframe class="video-responsive" style="width:100%;margin-bottom: 10px;" width="288" height="172" src="https://www.youtube.com/embed/8aDLY3lFlDw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div>
                                <h5>Ngũ Cốc Táo Hương Quế Mát Lạnh</h5>
                                <h6>The Yummy Life</h6>
                            </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-12">
                        <iframe class="video-responsive" style="width:100%;margin-bottom: 10px;" width="288" height="172" src="https://www.youtube.com/embed/qklxn0mY_aM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div>
                                <h5>Ngũ Cốc Táo Hương Quế Mát Lạnh</h5>
                                <h6>The Yummy Life</h6>
                            </div>
                    </div>
                      
                  </div>
    </div>
    <div class="container mt-4">    
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-12">
                            <iframe class="video-responsive" style="width:100%;margin-bottom: 10px;" width="310" height="235" src="https://www.youtube.com/embed/0a3su4bKvd0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-4 col-sm-12 col-12"> 
                            <iframe class="video-responsive" style="width:100%;margin-bottom: 10px;" width="310" height="235" src="https://www.youtube.com/embed/-n5ohkqQBSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>
                        <div class="col-md-4 col-sm-12 col-12">
                            <iframe class="video-responsive" style="width:100%;margin-bottom: 10px;" width="310" height="235" src="https://www.youtube.com/embed/YbnaaKKjJDc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>  
                      </div>
                      <div class="col-sm-12 text-center">  
                          <a class=" btn btn-default mb-3  " href="#" title="Tham Khảo Thêm" role="button">THAM KHẢO THÊM</a>
                          </div>
    </div>
                        
</body>