<html lang="en">

<head>
   <% include ../head/headindex %>
   <style>
      .box-nutrition .content {
         background-color: #f2f2f2;
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;
         -moz-border-bottom-left-radius: 5px;
         -moz-border-bottom-right-radius: 5px;
         -webkit-border-bottom-left-radius: 5px;
         -webkit-border-bottom-right-radius: 5px;
         padding: 7px;
      }

      .box-nutrition .title {
         color: #fff;
         background-color: #dd4869;
         padding: 6px;
         text-align: center;
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
         -moz-border-top-left-radius: 5px;
         -moz-border-top-right-radius: 5px;
         -webkit-border-top-left-radius: 5px;
         -webkit-border-top-right-radius: 5px;
         font-weight: bolder;
         font-size: 16px;
      }
   </style>
</head>

<body>
      <% include ../menu %>
   <div class="container">
      <div class="row">
         <div class="col-md-6 col-sm-12 ">
            <img src="<%= typeof sampham.linkimage != 'undefined' ? sampham.linkimage:'' %> " class="card-img "
               style="height: 580px;" alt="...">
         </div>
         <div class="col-md-6 col-sm-12">
            <div class="card-deck">
               <div class="card">
                  <div class="card-body">
                        <form method="post" action="/themvaogiohang">
                           
                           <h1 class="aj-pro-title" name="tenhang"><%= sampham.TenHang %> </h1>
                           <input name="tenhang" id="tenhang" value="<%= sampham.TenHang %> " style="display: none;">
                           <input name="tygia" value=" <%= sampham.GiaBan %> " style="display: none;">
                           <p class="masp">Tình trạng: <% if( sampham.SoLuong =="0" ) {%>
                              <span>Hết Hàng</span>
                           <% }else{ %> <span>Còn hàng </span> <% } %> 
                            </p>
                           <a href="">
                             <h3 class="card-title"><%= sampham.TenHang %>  <span class="giam">-0%</span></h3>
                           </a>
                           <h3 class="gia" style="font-size: 28px;"> <%= sampham.GiaBan %>  <sup>đ</sup>  </h3>
                           <p>100g</p>
                           <p class="masp">số lượng : </p>
                           <button name="" id="" class="btn btn-primary" href="#" role="button" style="position:relative;
                                        left: 15% ; top : -0.5em;
                                        "    >Thêm Vào Giỏ</button>
                           <div style="position: relative; float: left;">
           
                             <input name="soluong" type="number" id="soluongmua" name="points" min="0" max="100" step="1"
                               value="1">
           
                           </div>
                           <p class="masp">giá phải trả: </p>
                           <h3 class="gia" id="giaphaitra" style="font-size: 28px;"><sup>đ</sup></h3>
                           <script language="javascript">
           
                             var input = document.getElementById("soluongmua");
                             input.addEventListener('keyup', function () {
                               // Gán giá trị vào div
                               document.getElementById('giaphaitra').innerHTML = input.value *  <%= sampham.GiaBan %> ;
                             });
                             //document.getElementById("giaphaitra").style.html = "a*20000";
                             function thongbao() {
                               alert("Đã thêm " + document.getElementById('soluongmua').value * 100 + " G "
                                 + document.getElementById('tenhang').value + " vào giỏ hàng");
                             }
                           </script>
                         </form>

                       
                        <hr>
                        <p class="aj-pro-desc"></p>
                        <p style="text-align: justify;"><span
                              style="font-family: arial, sans-serif; font-size: 15.3333px;">- Đơn vị sản xuất:&nbsp;<a
                                 href="http://dichoonline.com.vn/cong-ty-cho-binh-dien-the-gioi-thuy-hai-san-giua-thanh-pho-ho-chi-minh.html"><span
                                    style="color: rgb(255, 51, 255);"><strong><%= sampham.NhaCungCap %> 
                                    </strong></span></a></span></p>

                        <p style="text-align: justify;"><span style="font-family: arial, sans-serif;"><span
                                 style="font-size: 11.5pt;">-&nbsp;<strong><span style="color: rgb(255, 51, 255);">Cá
                                       hồi</span>&nbsp;</strong>là loài cá biển thuộc họ Cá thu ngừ, có tên khoa học là
                                 Scombridae. Họ Cá thu ngừ có khoảng 55 loài, kích thước dao động lớn từ 20cm đến
                                 458cm.</span></span></p>

                        <p style="text-align:center"><img alt="Cá hồi" src="http://thucphamnhapkhau.vn/images/sc/78.png"
                              style="max-width: 400px; height:198px;"></p>

                        <p style="text-align: justify;"><span
                              style="font-size: 11.5pt; font-family: arial, sans-serif;">- Cá hồi là thực phẩm ít Calo
                              và chất béo nhưng lại rất giàu Protein, có thể giúp cân bằng các chất dinh dưỡng cần thiết
                              cho cơ thể. Với những người muốn giảm cân, cá hồi là 1 sự lựa chọn thích hợp.</span></p>

                        <p style="text-align: justify;"><span
                              style="font-family: arial, sans-serif; font-size: 15.3333px; text-align: justify;">- Ngoài
                              ra, ăn cá hồi còn giúp làm giảm lipid máu, hạ nồng độ Cholesterol trong cơ thể, ngăn ngừa
                              xơ vữa mạch máu. Một số nghiên cứu còn nhận thấy dầu Omega-3 trong thịt cá hồi rất hữu ích
                              trong việc ngăn chặn ung thư vú.</span></p>

                        <p style="text-align: justify;"><span
                              style="font-family: arial, sans-serif; font-size: 11.5pt;">- Cá hồi được đánh bắt và cấp
                              đông đúng quy trình khi cá còn đang sống. Về đến đất liền, cá vẫn rất tươi. Hoàn toàn
                              không có bất kỳ loại hóa chất nào trong quá trình bảo quản các Bạn nhé.</span></p>

                        <p style="text-align: justify;"><span
                              style="font-family: arial, sans-serif; font-size: 15.3333px;">- Thông thường, cá hồi có
                              trọng lượng dao động từ 800g đến 2kg. <span style="color:#ff33ff;"><strong>Đi chợ
                                    Online</strong></span> tạm tính mỗi con là 1kg.&nbsp;Các Bạn mua theo số lượng 1, 2,
                              3, 4,... &nbsp;tương ứng với trọng lượng 1kg, 2kg, 3kg, 4kg,... </span><span
                              style="font-family: arial, sans-serif; font-size: 15.3333px; text-align: justify;">Số tiền
                              sẽ thanh toán theo trọng lượng thực tế.</span></p>

                        <p style="text-align: justify;"><span
                              style="font-family: arial, sans-serif; font-size: 15.3333px; text-align: justify;">- <span
                                 style="color:#ff33ff;"><strong>Đơn giá bên trên</strong></span> là giá nguyên con.
                              Thông thường sau khi làm sạch: bỏ mang, vây, đuôi, ruột, mức độ hao hụt dao động từ 15%
                              đến 20%. Nếu các Bạn có nhu cầu làm sạch và cắt khúc, Đi chợ Online sẽ làm giúp và hoàn
                              toàn không tính phí.</span></p>
                        <p></p>
                        <hr>
                        <input type="hidden" id="1382" value="1382" class="pid_one">

                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
   <div class="container">
      <div class="row">
         <div id="giatri">
            <h2>Giá trị dinh dưỡng:</h2>

            <h4 class="h4" style="margin-bottom:18px;text-align: center;">Thành phần <span
                  style="font-weight:bold;color: #E91E63;">dinh dưỡng</span> trong <strong
                  style="color: #5b9904">100g</strong> ăn được</h4>
            <div class="row food-description">
               <div class="col-md-6 col-sm-12">
                  <div class="table-reponsive">
                     <table class="table table-bordered table-nutrition">
                        <thead>
                           <tr>
                              <th><a class="vitamin" href="6" data-toggle="modal" data-target="#">Đường</a></th>
                              <th><a class="vitamin" href="7" data-toggle="modal" data-target="#">Canxi</a></th>
                              <th><a class="vitamin" href="8" data-toggle="modal" data-target="#">Sắt</a></th>
                              <th><a class="vitamin" href="" data-toggle="modal" data-target="#">Phospho</a></th>
                              <th><a class="vitamin" href="10" data-toggle="modal" data-target="#">Natri</a></th>
                              <th><a class="vitamin" href="11" data-toggle="modal" data-target="#">Kali</a></th>
                              <th><a class="vitamin" href="12" data-toggle="modal" data-target="#">Cholesterol</a></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>
                                 <p>g</p>
                                 <div class="value-nutri">0</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">44</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">1</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">206</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">78</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">518</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">0</div>
                              </td>
                           </tr>
                        </tbody>
                     </table>


                     <table class="table table-bordered table-nutrition">
                        <thead>
                           <tr>
                              <th><a class="vitamin" href="13" data-toggle="modal" data-target="13">Vit C</a></th>
                              <th><a class="vitamin" href="14" data-toggle="modal" data-target="#">Vit B1</a></th>
                              <th><a class="vitamin" href="15" data-toggle="modal" data-target="#">Vit PP</a></th>
                              <th><a class="vitamin" href="16" data-toggle="modal" data-target="#">Vit A</a></th>
                              <th><a class="vitamin" href="17" data-toggle="modal" data-target="#">Vit D</a></th>
                              <th><a class="vitamin" href="" data-toggle="modal" data-target="#">β-Caroten</a></th>
                              <th><a class="vitamin" href="19" data-toggle="modal" data-target="#">Phytosterol</a></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">1</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">0.02</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">4</div>
                              </td>
                              <td>
                                 <p>µg</p>
                                 <div class="value-nutri">5</div>
                              </td>
                              <td>
                                 <p>µg</p>
                                 <div class="value-nutri">0</div>
                              </td>
                              <td>
                                 <p>µg</p>
                                 <div class="value-nutri">0</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">0</div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="col-md-6 col-sm-12">
                  <div class="table-reponsive">
                     <table class="table table-bordered table-nutrition">
                        <thead>
                           <tr>
                              <th><a class="vitamin" href="6" data-toggle="modal" data-target="#">Đường</a></th>
                              <th><a class="vitamin" href="7" data-toggle="modal" data-target="#">Canxi</a></th>
                              <th><a class="vitamin" href="8" data-toggle="modal" data-target="#">Sắt</a></th>
                              <th><a class="vitamin" href="" data-toggle="modal" data-target="#">Phospho</a></th>
                              <th><a class="vitamin" href="10" data-toggle="modal" data-target="#">Natri</a></th>
                              <th><a class="vitamin" href="11" data-toggle="modal" data-target="#">Kali</a></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>
                                 <p>g</p>
                                 <div class="value-nutri">0</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">44</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">1</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">206</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">78</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">518</div>
                              </td>
                           </tr>
                        </tbody>
                     </table>


                     <table class="table table-bordered table-nutrition">
                        <thead>
                           <tr>
                              <th><a class="vitamin" href="13" data-toggle="modal" data-target="13">Vit C</a></th>
                              <th><a class="vitamin" href="14" data-toggle="modal" data-target="#">Vit B1</a></th>
                              <th><a class="vitamin" href="15" data-toggle="modal" data-target="#">Vit PP</a></th>
                              <th><a class="vitamin" href="16" data-toggle="modal" data-target="#">Vit A</a></th>
                              <th><a class="vitamin" href="17" data-toggle="modal" data-target="#">Vit D</a></th>
                              <th><a class="vitamin" href="" data-toggle="modal" data-target="#">β-Caroten</a></th>
                              <th><a class="vitamin" href="19" data-toggle="modal" data-target="#">Phytosterol</a></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">1</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">0.02</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">4</div>
                              </td>
                              <td>
                                 <p>µg</p>
                                 <div class="value-nutri">5</div>
                              </td>
                              <td>
                                 <p>µg</p>
                                 <div class="value-nutri">0</div>
                              </td>
                              <td>
                                 <p>µg</p>
                                 <div class="value-nutri">0</div>
                              </td>
                              <td>
                                 <p>mg</p>
                                 <div class="value-nutri">0</div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <p class="pull-right" style="font-size: 12px"><i>Nguồn : Trung tâm dinh dưỡng TP. Hồ Chí Minh</i></p>
            <p></p>

         </div>
         
</body>

</html>
