    <br>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <div class="container-fluid" style="background: #000000;">
            <br><br><br>
            <div class="row">
                <div class="col-sm">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h6>dowload app</h6>
                            <img src="\images\down.png">
                        </li>
                        <li class="list-group-item"><strong>Khám Phá HomeMarket</strong></li>
                        <li class="list-group-item"><strong>Blog Của Le Duc Dung</strong></li>
                        <li class="list-group-item"><strong>HomeMarket Là Gì?</strong></li>
                        <li class="list-group-item"><strong>HomeMarket VIP</strong></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Hỏi Và Đáp</li>
                        <li class="list-group-item">Tuyển Dụng</li>
                        <li class="list-group-item">Điều Khoản Dịch Vụ</li>
                        <li class="list-group-item">Chính Sách Bảo Mật</li>
                        <li class="list-group-item">Chính Sách Dịch Vụ</li>
                    </ul>
                </div>
                <div class="col-sm">
                    <ul class="list-group list-group-flush " style="color: aliceblue;">
                            <li class="list-group">© 2019 - Bản Quyền Của Công Ty Lê Đức Dũng</li>
                            <li class="list-group">Mã Số Doanh Nghiệp: 0858801149</li>
                            <li class="list-group">227 Nguyễn Văn Linh Đà Nẵng</li>
                           
                    </ul>
                </div>
            </div>
        </div>