<nav class="navbar navbar-expand-lg navbar-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/trangchu"><strong>Home Market</strong></a>
    <form class="navbar-brand form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search"
            style="border-radius:18px">
    </form>
    <style>
        .modal-backdrop.fade.show {
            z-index: 1;
        }

        .modal-body {
            background-color: rgba(41, 41, 41, 0.96);
            color: white;
        }

        hr {

            border: 1;
            border: solid 0.5px #e1dfe71f;
        }

        .modal-dialog-scrollable .modal-body {
            overflow-y: auto;
            height: 700px;
        }

        #create {
            position: relative;
            float: right;
            height: 60%;
        }

        #h6 {
            position: relative;
            float: left;
        }

        .trash {
            width: 20px;
            position: relative;
            padding-left: 20%;
            left: -3px;
            bottom: 2px;
        }

        .delete {
            padding: 7px;
        }

        .divtrash {
            background: #f86b6a;
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 5px 5px 5px 5px;

        }

        .edit {
            width: 20px;
            position: relative;
            padding-left: 20%;
            left: -3px;
            bottom: 2px;
        }

        .divedit {
            background: #62c1de;
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 5px 5px 5px 5px;
            left: 30%;
        }
    </style>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/trangchu">Trang Chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gioithieu">Giới Thiệu</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Ngành hàng
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"></a>
                    <a class="dropdown-item" href="/trangchu">Thịt Bò/Thịt Heo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/cahaisan">Cá/Hải Sản</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/giacam">Gia Cầm</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/raucuqua">Rau Củ Qủa</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/khuyenmai" tabindex="-1" aria-disabled="true">Khuyến Mãi</a>
            </li>
            <li class="nav-item">

            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i style="font-size: 32px;" class="fas fa-user-cog"></i>
                </a>


                <div style="border: none;" class="dropdown-menu setting" aria-labelledby="navbarDropdown">
                    <div class="box"></div>
                    <div class="menu-down">
                        <a class="dropdown-item" href="/thongtincanhan"> Thông tin cá nhân</a>
                        <a class="dropdown-item" href="#">Cài đặt</a>
                        <a class="dropdown-item" href="#">Thanh toán</a>

                        <% if(quyentruycap == "chucuahang") { %>
                        <a class="dropdown-item" href="/chucuahang/sanpham"> Đi đến chủ cửa hàng</a>
                        <% } else { %>
                        <a class="dropdown-item" href="/dangkychucuahang"> Đăng ký chủ cửa hàng</a>
                        <% }  %>
                        <form method="POST" action="/logout">
                            <a href="/logout" class="dropdown-item" type="submit">
                                <button style="border: none ; background-color: white;">Đăng xuất</button>
                            </a>
                        </form>
                    </div>

                </div>

            </li>

        </ul>
        <nav class="nav justify-content-center">

            <button type="button" class="btn btn-primary fas fa-cart-plus" data-toggle="modal"
                data-target="#exampleModalScrollable">

            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- giohang -->
                            <% if(hangs){ %>
                            <div class="div container">
                                <table style="color:white;" class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Tên hàng</th>
                                            <th scope="col">Số lượng</th>
                                            <th scope="col">Giá phải trả </th>
                                            <th scope="col">Action </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var dem=1; %>
                                        <% hangs.forEach(function(hang) {  %>
                                        <tr>
                                            <th scope="row"><%= dem++ %></th>
                                            <td><%- hang.tenhang %></td>
                                            <td><%- hang.soluong %></td>
                                            <td><%- hang.soluong * hang.tygia%></td>
                                            <td><a href="/detele/<%= hang.id %>">
                                                <button class="divtrash">
                                                    <img src="/images/trash.png" class="trash">
                                                </button>
                                            </a ></td>
                                          
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                                
                            </div>
                            
                            <% }else{ %>
                            <h3>bạn chưa mua gì</h3>
                            <% } %>
                            <!-- giohang -->
                            <button type="button" class="btn btn-primary">Primary</button>
                        </div>

                    </div>
                </div>
            </div>
        </nav>
        <div>
            <a href="/giohang  " style="font-size: 32px;" class="fas fa-cart-plus"></a>
        </div>
        <div>
            <a href="/giohang  " style="font-size: 32px;" class="fas fa-cart-plus"></a>
        </div>
    </div>
</nav>