
    <div class="container-fluid" style="background: #000000;">
        <br><br><br>
        <div class="row">
            <div class="col-sm">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h6>dowload app</h6>
                        <img src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.15752-9/81963388_2607140849609108_8431608250494877696_n.png?_nc_cat=104&_nc_sid=b96e70&_nc_oc=AQkEIgKK3Q-vYla02VPqUJ3yw3TUDOYcf5dMKtqG47Gu7MHhhr6WLV7DbcbMTcwike4lXjS619SfGQcD8HM0-bGb&_nc_ht=scontent-sin6-1.xx&oh=63958048abe5c3b191433c9e6d41f6cc&oe=5E9ADDC7">
                    </li>
                    <li class="list-group-item"><strong>Khám Phá HomeMarket</strong></li>
                    <li class="list-group-item"><strong>Blog Của Le Duc Dung</strong></li>
                    <li class="list-group-item"><strong>HomeMarket Là Gì?</strong></li>
                    <li class="list-group-item"><strong>HomeMarket VIP</strong></li>
                </ul>
            </div>
            <div class="col-sm">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Hỏi Và Đáp</li>
                    <li class="list-group-item">Tuyển Dụng</li>
                    <li class="list-group-item">Điều Khoản Dịch Vụ</li>
                    <li class="list-group-item">Chính Sách Bảo Mật</li>
                    <li class="list-group-item">Chính Sách Dịch Vụ</li>
                </ul>
            </div>
            <div class="col-sm">
                <ul class="list-group list-group-flush " style="color: aliceblue;">
                    <li class="list-group">© 2019 - Bản Quyền Của Công Ty Lê Đức Dũng</li>
                    <li class="list-group">Mã Số Doanh Nghiệp: 0858801149</li>
                    <li class="list-group">227 Nguyễn Văn Linh Đà Nẵng</li>

                </ul>
            </div>
        </div>
    </div>
