<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="#">
        <h4>HOME MARKET</h4>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link ml-5" href="/chucuahang/sanpham">Sản phẩm <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chucuahang/phieunhapkho">Kho hàng <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="/chucuahang/hoadonbanle">Bán hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chucuahang/khachhang">Khách hàng <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chucuahang/khuyenmai">Khuyến Mãi <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>