<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <!-- body -->
    <div class="container-fuild ">
      <div class="row">
        <div class="col-md-2 c-12 menu-trai">
          <div style="color: #eb4d4b;" class="sanpham pt-2 pb-2">
            <i class="fa fa-cube"></i> Sản Phẩm
          </div>

          <div class="danhmuc-thuonghieu">
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Danh mục và thương hiệu
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Danh mục sản phẩm</a>
                <a class="dropdown-item" href="#">Thương hiệu</a>
              </div>
            </div>
          </div>
          <div class="sanpham pt-2 pb-2">
            Thuộc tính
          </div>

          <div class="danhmuc-thuonghieu">
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nhà cung cấp
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Nhà cung cấp</a>
                <a class="dropdown-item" href="#">Sản phẩm nhà cung cấp</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 c-12 menu_phai">
          <!-- thanhcongcu -->
          <ul class="nav nav-tabs mt-2">
            <li class="nav-item">
              <a class="nav-link active" style="color: #eb4d4b;" href="/chucuahang/sanpham"><i
                  class="fa fa-bars pr-2"></i>Tất cả</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/chucuahang/suagiaban"> <i class="fa fa-edit pr-2"></i>Có sửa giá bán</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/chucuahang/suagianhap"><i class="fa fa-edit pr-2"></i>Có sửa giá nhập</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chucuahang/lichsuxoasp" tabindex="-1" aria-disabled="true"><i
                  class="fa fa-trash pr-2"></i>Lịch sử xóa</a>
            </li>
          </ul>
          
          <!-- bangsanpham -->
          
          <div class="table-responsive-sm pb-5 c">
            <form method="POST" action="/chucuahang/chinhsuasp2/<%= samphams.id %>" style="position: relative; padding-bottom: 1em;">
            <table class="table table-bordered table-responsive-sm">
              <thead class="thead-dark">
                <tr>
                  <th scope="col"> </th>
                  <th scope="col"> </th>    
                  <th scope="col"> </th>        
                </tr>
              </thead>
              
              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td scope="col">Mã sản phẩm</td>
                  <td><input style="border: none;" name="MaSP" type="text"  value="<%= samphams.MaSP %>"></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td scope="col">Tên sản phẩm</td>
                  <td><input style="border: none;" name="TenHang" type="text"  value="<%= samphams.TenHang %>"></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td scope="col">Giá nhập</td>
                  <td><input style="border: none;" name="GiaNhap" type="text"  value="<%= samphams.GiaNhap %>"></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td scope="col">Giá bán</td>
                  <td><input style="border: none;" name="GiaBan" type="text"  value="<%= samphams.GiaBan %>"></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td scope="col">Nhà Cung Cấp</td>
                  <td><input style="border: none;" name="NhaCungCap" type="text"  value="<%= samphams.NhaCungCap %>"></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td scope="col">Số Lượng</td>
                  <td><input style="border: none;" name="SoLuong" type="text"  value="<%= samphams.SoLuong %>"></td>
                </tr>
              </tbody>
             
            </table>
            <a href="/chucuahang/chinhsuasp2"  >
                    <button type="submit" class="btn btn-primary">Chỉnh Sửa</button>
                </a>
            </form>
          </div>
         

        </div>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>


  </footer>

</body>

</html>