<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <br>
                    <h4>
                        upload files
                    </h4>
                    <div class=""></div>
                    <form action="/chucuahang/upload2" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="example-input-file"> </label>
                            <input type="file" name="file" class="form-control-file border">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                     <img src="<%= typeof file != 'undefined' ? file:'' %> "  class="img-responsive">
                        <img
                        src="\uploads\1584712120598-anh-sqq.png"
                        class="card-img-top Responsiveimage" style="position: relative; top: 2em;"   alt="...">    
                </div>
            </div>
        </div>
      
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>