<!DOCTYPE html>
<html lang="en">

<head>
  <!-- views/partials/head.ejs -->

  <meta charset="UTF-8">
  <title>le duc dung</title>

  <!-- CSS (load bootstrap from a CDN) -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <LINK REL="SHORTCUT ICON" HREF="/images/logo.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/trangchu.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <title>Home Market</title>
</head>
<style>

</style>

<body class="container-fluid    ">

  <header>

  </header>
  <br><br><br><br>

  <div class="container">
    <h4>SẢN PHẨM BÁN CHẠY</h4>

      <div class="row">
        <!-- than bo -->
        <% sanps.forEach(function(sanp) {  %>
        <div class="card col-md-3 mb-3 w-100">
          <div class="khoi">
            <img src="<%= typeof sanp.linkimage != 'undefined' ? sanp.linkimage:'' %> "
              class="img-responsive card-img-top Responsiveimage ">
            <div class="cacicon">
              <i class="nho fas fa-exchange-alt"></i> <br> <br>
              <i class="nho fas fa-heart"></i> <br> <br>
              <i class="nho fas fa-cart-plus"></i>
            </div>
          </div>
          <div class="card-body">
            <small>LotteMark</small>
            <a href="">
              <h5 class="card-title"><%= sanp.TenHang %></h5>
            </a>
            <p class="gia">20.000 <sup>đ</sup></p>
            100g <br>
            <a href="/xemthemthanbo" class="btn btn-outline-danger">XEM THÊM</a>
          </div>
        </div>

        <% }); %>
      


    </div>
   
  </div>



  <br><br><br><br>

  <footer>

  </footer>

</body>

</html>

<!-- ======================================================= -->