<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="container-fuild ">
            <div class="row">

                <!-- end-menu -->
                <!-- body -->
                <div class="container-fuild ">
                    <div class="row">
                        <div class="col-md-2 c-12 menu-trai">
                            <div style="color: #eb4d4b;" class="sanpham pt-2 pb-2">
                                <i class="fa fa-cube"></i> <a style="color: #eb4d4b;" href="/chucuahang/hoadonbanle">Hóa đơn
                                    bán</a>
                            </div>

                            <div class="sanpham pt-2 pb-2">
                                <i class="fa fa-cube"></i> <a href="/chucuahang/hoadontrahang">Hóa đơn trả hàng</a>
                            </div>
                        </div>
                        <div class="col-md-10 c-12 menu_phai">
                            <!-- thanhcongcu -->

                            <!-- themsanpham -->
                            <div class="themmoi mt-3 mb-3 ml-2">
                                <a href="#" class="btn btn-outline-danger">THÊM MỚI<i class="fa fa-plus pl-1"></i></a>
                            </div>

                            <!-- bangsanpham -->
                            <div class="table-responsive-sm mt-3">
                                <table class="table table-bordered table-responsive-sm">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Ngày nhập</th>
                                            <th scope="col">Khách hàng</th>
                                            <th scope="col">Địa chỉ</th>
                                            <th scope="col">Sản phẩm</th>
                                            <th scope="col">Gía</th>
                                            <th scope="col">Số lượng</th>
                                            <th scope="col">Tổng tiền</th>
                                            <th scope="col">Thanh toán</th>
                                            <th scope="col">Người lập biểu</th>
                                            <th scope="col">Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>


    </footer>

</body>

</html>