<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        
    <!-- body -->
    <div class="container-fuild " >
        <div class="row">
            <div class="col-md-2 c-12 menu-trai">
                <div style="color: #eb4d4b;" class="sanpham pt-2 pb-2">
                    <i class="fa fa-cube"></i> Khách hàng
                </div>
                
            </div>
            <div class="col-md-10 c-12 menu_phai">
                <!-- thanhcongcu -->
                <ul class="nav nav-tabs mt-2">
                    <li class="nav-item">
                      <a class="nav-link active" style="color: #eb4d4b;" href="#"><i class="fa fa-bars pr-2"></i> Tất cả</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"> <i class="fa fa-shopping-cart"></i> Mua nhiều</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-birthday-cake"></i> Mua nhiều,sinh nhật trong tháng</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-trophy"></i> Mua thường xuyên</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-exclamation-triangle"></i> Lâu không mua hàng</a>
                      </li>
                  </ul>
                <!-- themsanpham -->
                <div class="themmoi mt-3 mb-3 ml-2">
                    <a href="#" class="btn btn-outline-danger">THÊM MỚI<i class="fa fa-plus pl-1"></i></a>      
                </div>
                <!-- bangsanpham -->
                <div class="table-responsive-sm pb-5">
                    <table class="table table-bordered table-responsive-sm">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Khách hàng</th>
                            <th scope="col">Cấp độ</th>
                            <th scope="col">Điện thoại</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Số lần mua</th>
                            <th scope="col">Số SP</th>
                            <th scope="col">Điểm</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                           
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    </main>

    <footer>
        <% include ../partials/footer %>


    </footer>

</body>

</html>