<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <main>

    <!-- body -->
    <div class="container-fuild ">
      <div class="row">
        <div class="col-md-2 c-12 menu-trai">
          <div style="color: #eb4d4b;" class="sanpham pt-2 pb-2">
            <i class="fa fa-cube"></i> Khuyến mãi
          </div>

        </div>
        <div class="col-md-10 c-12 menu_phai">
          <div class="row mt-5">
            <div class="col md-6 khuyenmai ml-3 mr-4 mb-4 ">
              <div class="themmoi mt-3 mb-3 ml-2">
                <a href="#" class="btn btn-outline-danger">THÊM MỚI<i class="fa fa-plus pl-1"></i></a>
                Khuyến mãi theo hóa đơn <br>
                VD:
                <br>
                - Hóa đơn từ 100.000 tới 200.000, KH cấp độ BẠC giảm 5%
                <br>
                - Hóa đơn từ 200.000 tới 300.000, KH cấp độ VÀNG giảm 10%
              </div>

            </div>
            <div class=" col md-6 khuyenmai ml-4 mb-4">
              <div class="themmoi mt-3 mb-3 ml-2">
                <a href="#" class="btn btn-outline-danger">THÊM MỚI<i class="fa fa-plus pl-1"></i></a>
                Khuyến mãi theo danh mục sản phẩm <br>
                VD:
                <br>
                - Sản phẩm trong danh mục "Quần" giảm 5%
                <br>
                - Sản phẩm trong danh mục "Áo sơ mi" giảm 10%
              </div>

            </div>

          </div>
          <div class="row">
            <div class="col md-6 khuyenmai ml-3 mr-4 mb-4 ">
              <div class="themmoi mt-3 mb-3 ml-2">
                <a href="#" class="btn btn-outline-danger">THÊM MỚI<i class="fa fa-plus pl-1"></i></a>
                Khuyến mãi giảm giá theo só lượng sản phẩm <br>
                VD: 1 sản phẩm A giá 100.000
                <br>
                - Mua từ 2 - 3 sản phẩm A giảm 30.000
                <br>
                - Mua từ 4 - 6 sản phẩm A giảm 40.000
                <br>
                - Mua từ 7 sản phẩm A giảm 50.000
              </div>

            </div>
            <div class=" col md-6 khuyenmai ml-4 mb-4">
              <div class="themmoi mt-3 mb-3 ml-2">
                <a href="#" class="btn btn-outline-danger">THÊM MỚI<i class="fa fa-plus pl-1"></i></a>
                Khuyến mãi giá theo số lượng sản phẩm <br>
                VD: 1 sản phẩm A giá 100.000
                <br>
                - Mua từ 2 - 3 sản phẩm A: giá bán mỗi sản phẩm còn 90.000
                <br>
                - Mua từ 4 - 6 sản phẩm A: giá bán mỗi sản phẩm còn 80.000
                <br>
                - Mua từ 7 sản phẩm A: giá bán mỗi sản phẩm còn 70.000
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col md-6 khuyenmai ml-3 mr-4 mb-4 ">
              <div class="themmoi mt-3 mb-3 ml-2">
                <a href="#" class="btn btn-outline-danger">THÊM MỚI<i class="fa fa-plus pl-1"></i></a>
                Khuyến mãi theo từng sản phẩm <br>
                VD:
                <br>
                - IPhone 6 Vàng 32 GB giảm 5%
                <br>
                - IPad Air mini 64 GB giảm 200.000
              </div>

            </div>
            <div class=" col md-6 khuyenmai ml-4 mb-4">
              <div class="themmoi mt-3 mb-3 ml-2">
                <a href="#" class="btn btn-outline-danger">THÊM MỚI<i class="fa fa-plus pl-1"></i></a>
                Khuyến mãi đồng giá<br>
                VD:
                <br>
                - Xả hàng quần bò đồng giá 250.000
                <br>
                - Xả hàng áo sơ mi 100.000
              </div>

            </div>
          </div>
        </div>
      </div>

  </main>

  <footer>
    <% include ../partials/footer %>


  </footer>

</body>

</html>