<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container-fuild " >
      <div class="row">
          <div class="col-md-2 c-12 menu-trai">
              <div style="color: #eb4d4b;" class="sanpham pt-2 pb-2">
                  <i class="fa fa-cube"></i>  Xuất nhập kho
              </div>
              <div class="sanpham pt-2 pb-2">
                 <a href="/chucuahang/lichsuxoakho ">Lịch sử xóa
              </a>
              </div>
          </div>
          <div class="col-md-10 c-12 menu_phai">
              <!-- thanhcongcu -->
              
              <!-- bangsanpham -->
              <div class="table-responsive-sm text-center mt-3">
                  <table style="margin: 0 auto;" class="table table-bordered table-responsive-sm">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Mã sản phẩm</th>
                          <th scope="col">Tên sản phẩm</th>
                          <th scope="col">Người xóa</th>
                          <th scope="col">Thời gian</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td></td>
                          <td></td>
                          <td></td>
                          
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td></td>
                          <td></td>
                          <td></td>
                          
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>

  </main>

  <footer>
    <% include ../partials/footer %>


  </footer>

</body>

</html>