<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <!-- body -->
    <div class="container-fuild ">
      <div class="row">
        <div class="col-md-2 c-12 menu-trai">
          <div style="color: #eb4d4b;" class="sanpham pt-2 pb-2">
            <i class="fa fa-cube"></i> Xuất nhập kho
          </div>
          <div class="danhmuc-thuonghieu">
            <select class="form-control ">
              <option>Kiểm kho</option>
              <option>Danh sách phiếu kiểm kho</option>
              <option>Sản phẩm</option>
            </select>
          </div>
          <div class="sanpham pt-2 pb-2">
            Lịch sử xóa
          </div>
        </div>
        <div class="col-md-10 c-12 menu_phai">
          <!-- thanhcongcu -->
          <ul class="nav nav-tabs mt-2">
            <li class="nav-item">
              <a class="nav-link " href="#"> <i class="fa fa-edit pr-2"></i>Phiếu nhập kho</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#"><i class="fa fa-edit pr-2"></i>Phiếu xuất kho</a>
            </li>
          </ul>
          <!-- themsanpham -->
          <div class="themmoi mt-3 mb-3 ml-2">
            <a href="#" class="btn btn-outline-danger">THÊM MỚI<i class="fa fa-plus pl-1"></i></a>
          </div>

          <!-- bangsanpham -->
          <div class="table-responsive-sm mt-3">
            <table class="table table-bordered table-responsive-sm">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Ngày nhập</th>
                  <th scope="col">Tên sản phẩm</th>
                  <th scope="col">Tổng số lượng</th>
                  <th scope="col">Gía</th>
                  <th scope="col">Tổng tiền</th>
                  <th scope="col">Người lập biểu</th>
                  <th scope="col">Ghi chú</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>Otto</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>


  </footer>

</body>

</html>