<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <!-- body -->
    <div class="container-fuild ">
      <div class="row">
        <div class="col-md-2 c-12 menu-trai">
          <div style="color: #eb4d4b;" class="sanpham pt-2 pb-2">
            <i class="fa fa-cube"></i> Sản Phẩm
          </div>

          <div class="danhmuc-thuonghieu">
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Danh mục và thương hiệu
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Danh mục sản phẩm</a>
                <a class="dropdown-item" href="#">Thương hiệu</a>
              </div>
            </div>
          </div>
          <div class="sanpham pt-2 pb-2">
            Thuộc tính
          </div>

          <div class="danhmuc-thuonghieu">
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nhà cung cấp
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Nhà cung cấp</a>
                <a class="dropdown-item" href="#">Sản phẩm nhà cung cấp</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 c-12 menu_phai">
          <!-- thanhcongcu -->
          <ul class="nav nav-tabs mt-2">
            <li class="nav-item">
              <a class="nav-link active" style="color: #eb4d4b;" href="/chucuahang/sanpham"><i
                  class="fa fa-bars pr-2"></i>Tất cả</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/chucuahang/suagiaban"> <i class="fa fa-edit pr-2"></i>Có sửa giá bán</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/chucuahang/suagianhap"><i class="fa fa-edit pr-2"></i>Có sửa giá nhập</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chucuahang/lichsuxoasp" tabindex="-1" aria-disabled="true"><i
                  class="fa fa-trash pr-2"></i>Lịch sử xóa</a>
            </li>
          </ul>
          <!-- themsanpham -->
          <div class="themmoi mt-3 mb-3 ml-2">
            <a href="/chucuahang/themsanpham" class="btn btn-outline-danger">THÊM MỚI<i class="fa fa-plus pl-1"></i></a>
          </div>
          <!-- bangsanpham -->
          
          <div class="table-responsive-sm pb-5">
            <table class="table table-bordered table-responsive-sm">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Chỉnh Sửa</th>
                  <th scope="col">Mã sản phẩm</th>
                  <th scope="col">Tên sản phẩm</th>
                  <th scope="col">Giá nhập</th>
                  <th scope="col">Giá bán</th>
                  <th scope="col">Tổng tồn</th>
                  <th scope="col">Đã bán</th>
                  <th scope="col">Tổng tiền</th>
                </tr>
              </thead>
              <% sanps.forEach(function(sanp) {  %>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td><a href="/chucuahang/chinhsuasp/<%= sanp.id %>">sửa</a>  / <a href="#">sửa nâng cao</a></td>
                  <td><%= sanp.MaSP %></td>
                  <td><%= sanp.TenHang %></td>
                  <td><%= sanp.GiaNhap %></td>
                  <td><%= sanp.GiaBan %></td>
                  <td><%= sanp.SoLuong %></td>
                  <td><%= sanp.SoLuong %></td>
                  <td><%= sanp.SoLuong * sanp.GiaBan  %></td>
                </tr>
              </tbody>
              <% }); %>
            </table>
          </div>
          


        </div>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>


  </footer>

</body>

</html>