<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container-fuild " >
      <div class="row">
          <div class="col-md-2 c-12 menu-trai">
              <div style="color: #eb4d4b;" class="sanpham pt-2 pb-2">
                  <i class="fa fa-cube"></i>  Sản Phẩm
              </div>
              
              <div class="danhmuc-thuonghieu">
                  <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Danh mục và thương hiệu
                      </a>
                    
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div> 
              </div>
              <div class="sanpham pt-2 pb-2">
                  Thuộc tính
              </div>
              
              <div class="danhmuc-thuonghieu">
                  <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Nhà cung cấp
                      </a>
                    
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div> 
              </div>
          </div>
          <div class="col-md-10 c-12 menu_phai">
              <!-- thanhcongcu -->
              <ul class="nav nav-tabs mt-2">
                  <li class="nav-item">
                    <a class="nav-link" href="/chucuahang/sanpham"><i class="fa fa-bars pr-2"></i>Tất cả</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="/chucuahang/suagiaban"> <i class="fa fa-edit pr-2"></i>Có sửa giá bán</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" style="color: #eb4d4b;" href="/chucuahang/suagianhap"><i class="fa fa-edit pr-2"></i>Có sửa giá nhập</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/chucuahang/lichsuxoasp" tabindex="-1" aria-disabled="true"><i class="fa fa-trash pr-2"></i>Lịch sử xóa</a>
                  </li>
                </ul>
              <!-- themsanpham -->
            

              <!-- bangsanpham -->
              <div class="table-responsive-sm mt-3">
                  <table class="table table-bordered table-responsive-sm">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Mã sản phẩm</th>
                          <th scope="col">Tên sản phẩm</th>
                          <th scope="col">Gía nhập cũ</th>
                          <th scope="col">Gía nhập mới</th>
                          <th scope="col">Người sửa</th>
                          <th scope="col">Thời gian</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                          <td>Mark</td>
                          <td>Otto</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                          <td>Mark</td>
                          <td>Otto</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                          <td>Mark</td>
                          <td>Otto</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  </main>

  <footer>
    <% include ../partials/footer %>


  </footer>

</body>

</html>