<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <!-- body -->
    <div class="container-fuild ">
      <div class="row">
        <div class="col-md-2 c-12 menu-trai">
          <div style="color: #eb4d4b;" class="sanpham pt-2 pb-2">
            <i class="fa fa-cube"></i> Sản Phẩm
          </div>

          <div class="danhmuc-thuonghieu">
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Danh mục và thương hiệu
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Danh mục sản phẩm</a>
                <a class="dropdown-item" href="#">Thương hiệu</a>
              </div>
            </div>
          </div>
          <div class="sanpham pt-2 pb-2">
            Thuộc tính
          </div>

          <div class="danhmuc-thuonghieu">
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nhà cung cấp
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Nhà cung cấp</a>
                <a class="dropdown-item" href="#">Sản phẩm nhà cung cấp</a>
              </div>
            </div>
          </div>
        </div>
        <form class="col-md-10 c-12 menu_phai" action="/chucuahang/upload2" method="POST" enctype="multipart/form-data">
          <div class="row pt-5">
            <div class="col-md-2 c-12">
              Ảnh
              <div class="form-group">
                <label for="example-input-file"> </label>
                <input type="file" name="file" class="form-control-file border">
              </div>
            </div>
            <div class="col-md-5">
              <h1>Thông tin cơ bản</h1>
              <br>

              <div class="form-group">
                <label for="exampleInputEmail1">Tên sản phẩm</label>
                <input name="TenHang" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Mã sản phẩm</label>
                <input name="MaSP" type="text" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Số lượng</label>
                <input name="SoLuong" type="text" class="form-control" id="exampleInputPassword1">
              </div>
              <br>
              <div class="form-group ">
                <div style="border: solid 1px silver;" class="dropdown">
                  <input class="btn btn dropdown-toggle" href="#" role="button" id="loaisp"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value=""  
                    type="search" placeholder="Loại sản phẩm" name="DanhMuc"  >

                    <script language="javascript">

                     
                      //document.getElementById("giaphaitra").style.html = "a*20000";
                      function thitboheo() {
                       document.getElementById('loaisp').value ="Thịt bò, Thịt heo";
                      }
                      function cahaisan() {
                       document.getElementById('loaisp').value ="Cá hải sản";
                      }
                      function giacam() {
                       document.getElementById('loaisp').value ="Gia cầm";
                      }
                      function raucuqua() {
                       document.getElementById('loaisp').value ="Rau củ quả";
                      }
                    </script>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item"  onclick="thitboheo()" href="#">Thịt bò,thịt heo</a>
                    <a class="dropdown-item"  onclick="cahaisan()" href="#">Cá hải sản</a>
                    <a class="dropdown-item"  onclick="giacam()" href="#">Gia cầm </a>
                    <a class="dropdown-item"  onclick="raucuqua()"href="#">Rau củ quả</a>
                  </div>
                </div>
              </div>


            </div>
            <div class="col-md-5">


              <div class="form-group">
                <label for="exampleInputEmail1">Cửa hàng</label>
                <input type="text" name="Cuahang" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Giá</label> nhập</label>
                <input name="GiaNhap" type="text" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Giá</label> bán</label>
                <input name="GiaBan" type="text" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Nhà cung cấp</label>
                <input name="NhaCungCap" type="text" class="form-control" id="exampleInputPassword1">
              </div>
             

            </div>
          </div>
          <div class="nut text-center">
            <a href="#" class="btn btn-outline-danger">Lưu sản phẩm</a>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>


  </footer>

</body>

</html>