*{margin: 0;padding: 0;}
body{
    background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("https://i.pinimg.com/564x/86/4f/81/864f81feba31973a86234840eb5b064e.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.75);

}
h3.text-center{
    font-family: cursive;
}
.container{
    max-width: 500px;
}
.form-login{
    box-shadow: 0px 1px 17px 3px#4267b2;
    padding: 20px;
    border-radius:3px ;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}
input#exampleInputEmail1 {
    BACKGROUND: TRANSPARENT;
    border: none;
    border-bottom: solid 1px;
}
input#exampleInputPassword1 {
    BACKGROUND: TRANSPARENT;
    border: none;
    border-bottom: solid 1px;
}
i.fab.fa-facebook-f.p-3 {
    background-color: #4267b2;
    border-radius: 3px;
    max-height: 45px;
    font-size: 18px;
    max-width: 45px;
}

i.fab.fa-pinterest.p-3{
    background-color: #e60023;
    border-radius: 3px;
    max-height: 45px;
    font-size: 18px;
    max-width: 45px;
}

i.fab.fa-twitter.p-3.text-center{
    background-color: rgb(29, 161, 242);
    border-radius: 3px;
    max-height: 45px;
    font-size: 18px;
    max-width: 45px;
}