*{margin: 0;padding: 0;}
body{
    margin: 0;padding: 0;
    background-color: whitesmoke;
}

/* menu */
.navbar{
    background-color: #eef9e8;
    color: black;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
.row{
    margin-right: 0px;
}
/* menutrai */
.menu-trai{
    border-right: solid 1px #ececec;
    padding-right:0px ;
}
.sanpham{
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #495057;
    min-height: 1.2em;
    font-family: inherit;
    padding-left: 15px;
    border-bottom: solid 1px #dfdfdf;

}

a#dropdownMenuLink {
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
}

.danhmuc-thuonghieu {
    border-bottom: solid 1px #dfdfdf;
}

/* menuphai */
.menu_phai{
    background-color: white;
    min-height: 650px;
}

/* thanhcongcu */

.thanhcongcu{
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #495057;
    min-height: 1.2em;
    font-family: inherit;
    padding: 15px;
    display: inline-block;

}
/* themmoi */
.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}
.themmoi .btn-outline-danger:hover{
    background-color:#dc3545 ;
    color: white;
}
a{
    color: #495057;
}
a:hover{
    color: #dc3545 ;
}
/* khuyenmai */
.khuyenmai{
    border: solid 1px;
    border-radius:7px ;
    font-weight: 500;
}