p{
    margin-top:6.0pt;
    margin-right:0mm;
    margin-bottom:6.0pt;
    margin-left:0mm;
    text-align:justify;
}
strong {
    color: orangered;
}
nav.navbar.navbar-expand-lg {
    background-color: #eef9e8;
  }
  a{
    color: black;
  }
  .box {
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid red;
    border-left: 8px solid transparent;
    width: 0; height:0;
    margin-left: 65%;
  }
  .menu-down{
    border: solid 1px silver;
    border-radius:3px; 
    background-color: white; 
  
  }
  a.dropdown-item{
    color: orangered;
  }
  .dropdown-menu.setting.show {
      background: transparent;
      margin-top: -15px;
      border: none;
      margin-left:-111px ;
      max-width: 195px;
  }