* {
    margin: 0;
    padding: 0;
  }
  
  nav.navbar.navbar-expand-lg {
    background-color: #eef9e8;
  }
  a{
    color: black;
  }
  img.card-img-top {
    MAX-HEIGHT: 347.3PX;
  }

  .khoi {
    HEIGHT: 265.3PX;
    overflow: hidden;
    z-index: 1;
  }

  .khoi .card-img-top {
    width: 100%;
    height: 100%;
    transition: 1s;
  }

  .khoi:hover .card-img-top {
    transform: scale(1.5);
    transition: 1s;
    opacity: 0.5;
  }

  .khoi.nen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .khoi.cacicon {
    z-index: 3;
  }

  .cacicon {
    position: absolute;
    padding: 4px;
    top: 0;
  }

  .nho {

    font-size: 20px;
    padding: 9px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
    opacity: 0;

  }

  .nho:hover {
    background-color: orangered;
    color: white;
  }

  .card:hover .nho {
    opacity: 1;
  }
  
  .card-title{
    font-weight: bold;
  }

  .gia {
    color: orangered;
    font-size: 18px;
  }

  .giacu {
    text-decoration: line-through;
    opacity: 0.5;
  }
  a.btn.btn-outline-danger {
    margin-top: 13px;
    }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  h4{
    padding-top: 20px ;
    border-bottom: solid 1px;
  }
  span.giam {
    color: white;
    background-color: orangered;
    border-radius: 8px;
    font-size: 17px;
    padding: 3px;
  }
  .card-body {
    padding: 12px;
  }
  
  /* xemvedoituong,xem thêm */
  .view-detail-pro .price {
    display: inline-block;
    color: #eb1c23;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
  }
  .dropdown-menu{
  background-color: orangered;
  }
  .dropdown-item {
    color: white;
}

.box {
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid red;
  border-left: 8px solid transparent;
  width: 0; height:0;
  margin-left: 65%;
}
.menu-down{
  border: solid 1px silver;
  border-radius:3px; 
  background-color: white; 

}
a.dropdown-item{
  color: orangered;
}
.dropdown-menu.setting.show {
    background: transparent;
    margin-top: -15px;
    border: none;
    margin-left:-111px ;
    max-width: 195px;
}