 
  
  #create	 {
      position: relative;
      float: right;
      height: 60%;
  }
  #h6 {
      position: relative;
      float: left;
  }	
  .trash {
       width: 20px;
       position: relative;
       padding-left: 20%;
       left: -3px;
       bottom: 2px;
   }
  .delete {
      padding: 7px;
  }
  .divtrash {
      background:#f86b6a;
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 5px 5px 5px 5px;
   
  }
  .edit {
       width: 20px;
       position: relative;
       padding-left: 20%;
       left: -3px;
       bottom: 2px;
   }
   .divedit {
      background:#62c1de;
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 5px 5px 5px 5px;
       left: 30%;
  }
  #sotrang {
      float: right ;
      position: relative;
      top:1em;
  }
  * {
    margin: 0;
    padding: 0;
  }
  
  nav.navbar.navbar-expand-lg {
    background-color: #eef9e8;
  }
  a{
    color: black;
  }
  .menu{
    background-color: #eef9e8; ;
    color: orangered;
    margin-top: 18px;
    padding: 10px;
  }
  img.card-img-top {
    MAX-HEIGHT: 347.3PX;
  }

  .khoi {
    HEIGHT: 265.3PX;
    overflow: hidden;
    z-index: 1;
  }

  .khoi .card-img-top {
    width: 100%;
    height: 100%;
    transition: 1s;
  }

  .khoi:hover .card-img-top {
    transform: scale(1.5);
    transition: 1s;
    opacity: 0.5;
  }

  .khoi.nen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .khoi.cacicon {
    z-index: 3;
  }

  .cacicon {
    position: absolute;
    padding: 4px;
    top: 0;
  }

  .nho {

    font-size: 20px;
    padding: 9px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
    opacity: 0;

  }

  .nho:hover {
    background-color: orangered;
    color: white;
  }

  .card:hover .nho {
    opacity: 1;
  }
  
  .card-title{
    font-weight: bold;
  }

  .gia {
    color: orangered;
    font-size: 18px;
  }

  .giacu {
    text-decoration: line-through;
    opacity: 0.5;
  }
  a.btn.btn-outline-danger {
    margin-top: 13px;
    }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  h4{
    padding-top: 20px ;
    border-bottom: solid 1px;
  }
  span.giam {
    color: white;
    background-color: orangered;
    border-radius: 8px;
    font-size: 17px;
    padding: 3px;
  }
  .card-body {
    padding: 12px;
  }
  .hinhtron {
    width: 100%;
  }
  /* phandangnhap */
  .anh {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
  }
  button.facebook.mx-auto {
    padding: 10px;
    background-color: #3578e5;
    border-radius: 24px;
    color: white;
    font-weight: 700;
  }
  .login {
    width: 50%;
    margin: 0 auto;
    border: solid 1px;
    padding: 10px;
    background-color: oldlace;
    border-radius: 5px;
    border-color: gray;
  }
  /* xemvedoituong,xem thêm */
  .view-detail-pro .price {
    display: inline-block;
    color: #eb1c23;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
  }
  .dropdown-menu{
  background-color: orangered;
  }
  .dropdown-item {
    color: white;
}
.box {
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid red;
  border-left: 8px solid transparent;
  width: 0; height:0;
  margin-left: 65%;
}
.menu-down{
  border: solid 1px silver;
  border-radius:3px; 
  background-color: white; 

}
a.dropdown-item{
  color: orangered;
}
.dropdown-menu.setting.show {
    background: transparent;
    margin-top: -15px;
    border: none;
    margin-left:-111px ;
    max-width: 195px;
}