<div class="container">
  <div class="row">
    <!-- than bo -->
    <% var dem=0  %>
    <% sanps.forEach(function(sanp) {  %>
    <% dem=dem +1 ; %>
    <div class="card col-md-3 mb-3 w-100">
      <div class="khoi">
        <img src="<%= typeof sanp.linkimage != 'undefined' ? sanp.linkimage:'' %> "
          class="img-responsive card-img-top Responsiveimage ">
        <div class="cacicon">
          <i class="nho fas fa-exchange-alt"></i> <br> <br>
          <i class="nho fas fa-heart"></i> <br> <br>
          <i class="nho fas fa-cart-plus"></i>
        </div>
      </div>
      <div class="card-body">
        <small>LotteMark</small>
        <a href="">
          <h5 class="card-title"><%= sanp.TenHang %></h5>
        </a>
        <p class="gia"><%= sanp.GiaBan%> <sup>đ</sup></p>
        100g <br>
        <a href="/xemthem/<%= sanp.id %>" class="btn btn-outline-danger">XEM THÊM</a>
      </div>
    </div>
    
    <% }); %>
    <% if (dem == 0) {%> <h1 style="margin: 4%;">Hết Hàng</h1> <%  } %>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="/giacam?page=1" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <% var gageNumber=-1 , gage = 0  ; %>
      <% pages.forEach(function(page_Number) {  %>
      <%   gageNumber++ %>
      <% if(gageNumber % 8 == 0){ %>
      <% gage ++ %>
      <li class="page-item  "><a onclick="page_Number()" class="page-link" href="/giacam?page=<%=gage %>"><%=gage %>
        </a></li>
      <%} %>
      <% }); %>
      <li class="page-item">
        <a class="page-link" href="/giacam?page=<%=gage++ %>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>