<div class="container pt-3">
  <h4 style="border-bottom: solid 1px;">BỘ SƯU TẬP</h4>
  <div class="row">
    <div class="col-md-3 col-12">
      <img width="100%" src="https://dl.airtable.com/4MKMRwiQRamkFZMz1Svc_T5030-W140-FS-large%403x.jpg"> <br>
      <a class="mt-5 p-2 text-center" href="/buasang"><b>Thực Phẩm Tốt Cho Bữa Sáng</b></a>
    </div>
    <div class="col-md-3 col-12">
      <img width="100%"
        src="https://dl.airtable.com/.attachments/97b12c620b48fddd48f9388837c0478b/2715eb1d/FS-23x.jpg.jpg"> <br>
      <a class="mt-5 p-2 text-center" href="/buasang"><b>Bữa Tối Dưới 150 Ngàn</b></a>
    </div>
    <div class="col-md-3 col-12">
      <img width="100%" src="https://dl.airtable.com/UHM5Obe8TKWXxDYpCFqm_T5524-W145-FS-large%403x.jpg"> <br>
      <a class="mt-5 p-5 text-center" href="/buasang"><b>Ăn Vặt Đêm Khuya</b></a>
    </div>
    <div class="col-md-3 col-12">
      <img width="100%" src="https://dl.airtable.com/Pxf7AXG3TYGRVd0tULRj_meat-sausage-vi-large%402x.jpg"> <br>
      <a class="mt-5 p-5 text-center" href="/buasang"><b>Thịt Và Xúc Xích</b></a>
    </div>
    <div class="row pt-4">
      <div class="col-md-3 col-12 ">
        <img width="100%" src="https://dl.airtable.com/eBEA4HseSAiBNbytkSR8_T5526-W145-FS-large%403x.jpg"> <br>
        <a class="mt-5 p-2 text-center" href="/buasang"><b>Thực Phẩm Tốt Cho Bé</b></a>
      </div>
      <div class="col-md-3 col-12">
        <img width="100%" src="https://dl.airtable.com/2DMQtC0qQeOk4mkQAgr7_T5025-W136-FS-large%403x.jpg"> <br>
        <a class="mt-5 p-5 text-center" href="/buasang"><b>Ăn Gì Để Giảm Stress</b></a>
      </div>
      <div class="col-md-3 col-12">
        <img width="100%" src="https://dl.airtable.com/AByZ5AENSQyfYQbwiAGY_T5022-W140-FS-large%403x.jpg"> <br>
        <a class="mt-5 p-2 text-center" href="/buasang"><b>Thực Phẩm Tốt Cho Sức Khỏe</b></a>
      </div>
      <div class="col-md-3 col-12">
        <img width="100%" src="https://dl.airtable.com/BEYZqljyTVW54jYfmBBH_T5032-W140-FS-large%403x.jpg"> <br>
        <a class="mt-5 p-2 text-center" href="/buasang"><b>Thực Phẩm Đốt Mỡ Thừa</b></a>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="tron col-md-3 col-6">
      <img class="hinhtron"
        src="https://dl.airtable.com/.attachments/350d8e88d1061b6519d1bf82cf8c4729/5267341b/Quick-Breakfast-22x.jpg.jpg">
      <br>
      <a class="mt-5 p-5 text-center" href="/buasang"><b>Bữa sáng tiện lợi</b></a>
    </div>
    <div class="tron col-md-3 col-6">
      <img class="hinhtron"
        src="https://dl.airtable.com/.attachments/582d7cf4d109f8518ee13a853cc4309b/b83601bc/main-meal2x.jpg.jpg"> <br>
      <a class="mt-5 p-3 text-center" href="/buasang"><b>Món chính dinh dưỡng</b></a>
    </div>
    <div class="tron col-md-3 col-6">
      <img class="hinhtron"
        src="https://dl.airtable.com/.attachments/41369154436555fe2ae76615ddadacb8/d1dc9f72/Snack-22x.jpg.jpg"> <br>
      <a class="mt-5 p-5 text-center" href="/buasang"><b>Ăn vặt nhà làm</b></a>
    </div>
    <div class="tron col-md-3 col-6">
      <img class="hinhtron"
        src="https://dl.airtable.com/.attachments/69e5e023281b7a82b106dba04c043d6b/385af435/DIY-Vegan-milk2x.jpg.jpg">
      <br>
      <a class="mt-5 p-5 text-center" href="/buasang"><b>Đồ uống lành mạnh</b></a>
    </div>
  </div>
</div>