<div class="container">
    <h4 style="border-bottom: solid 1px;">CÔNG THỨC BẾP HOME</h4>
    <div class="row">
        <div class="tron col-md-3 col-6">
            <img class="hinhtron"
                src="https://dl.airtable.com/.attachments/350d8e88d1061b6519d1bf82cf8c4729/5267341b/Quick-Breakfast-22x.jpg.jpg">
            <br>
            <a class="mt-5 p-5 text-center" href="/buasang"><b>Bữa sáng tiện lợi</b></a>
        </div>
        <div class="tron col-md-3 col-6">
            <img class="hinhtron"
                src="https://dl.airtable.com/.attachments/582d7cf4d109f8518ee13a853cc4309b/b83601bc/main-meal2x.jpg.jpg">
            <br>
            <a class="mt-5 p-3 text-center" href="/buasang"><b>Món chính dinh dưỡng</b></a>
        </div>
        <div class="tron col-md-3 col-6">
            <img class="hinhtron"
                src="https://dl.airtable.com/.attachments/41369154436555fe2ae76615ddadacb8/d1dc9f72/Snack-22x.jpg.jpg">
            <br>
            <a class="mt-5 p-5 text-center" href="/buasang"><b>Ăn vặt nhà làm</b></a>
        </div>
        <div class="tron col-md-3 col-6">
            <img class="hinhtron"
                src="https://dl.airtable.com/.attachments/69e5e023281b7a82b106dba04c043d6b/385af435/DIY-Vegan-milk2x.jpg.jpg">
            <br>
            <a class="mt-5 p-5 text-center" href="/buasang"><b>Đồ uống lành mạnh</b></a>
        </div>
    </div>
    
</div>