<div class="container pt-3">
    <h4 style="border-bottom: solid 1px;">TĂNG CÂN GIẢM MỞ</h4>
    <div class="row">
        <div class="col-md-3 col-12">
            <img width="100%" src="https://dl.airtable.com/dGtVlBDTcC7Ob5ZbV1zI_collection1-vi%403x.jpg"> <br>
            <a class="mt-5 p-2 text-center" href=""><b>Thực Phẩm Bổ Sung</b></a>
        </div>
        <div class="col-md-3 col-12">
            <img width="100%" src="https://dl.airtable.com/j1QUkbwoTfeAaJnNJCM4_Detox%20Recipes_FS-vi%403x.jpg"> <br>
            <a class="mt-5 p-2 text-center" href=""><b>Công Thức Detox</b></a>
        </div>
        <div class="col-md-3 col-12">
            <img width="100%" src="https://dl.airtable.com/JxFyzxmZQTWFPkhswYOR_collection2-vi%403x.jpg"> <br>
            <a class="mt-5 p-5 text-center" href=""><b>Trái Cây Rau Củ Qủa</b></a>
        </div>
        <div class="col-md-3 col-12">
            <img width="100%" src="https://dl.airtable.com/Yxhl1E8QLitYaLlcLGda_Salad-Juice_FS-vi%403x.jpg"> <br>
            <a class="mt-5 p-5 text-center" href=""><b>Salat Nước ÉP</b></a>
        </div>

    </div>
</div>