<div class="container">
    <h4>TUẦN TƯNG BỪNG</h4>
    <div class="row">
        <div class="col-md-4 col-12">
            <img style="width: 100%;border: solid 1px;
                  border-color: solid 1px;
                  border-color: #c8c8c8;
                  border-radius: 7px; "
                src="https://dl.airtable.com/.attachments/dd19d6a8e3a220eb488e154c7b1da917/9ff59a5c/Ozzy-FS-vi2x_jpg.jpg"
                alt="Ưu Đãi Từ Ozzy 06/11 - 05/12" class="_1U9S1rDspR9EEoiwr1x3Hw" role="presentation"
                title="Ưu Đãi Từ Ozzy 06/11 - 05/12">
        </div>
        <div class="col-md-4 col-12">
            <img style="width: 100%;border: solid 1px;
                  border-color: solid 1px;
                  border-color: #c8c8c8;
                  border-radius: 7px;"
                src="https://dl.airtable.com/.attachments/ec5a5cbe5b78eefb22d5fa2554e13545/bfcd8a4d/FS_SKU2_vi2x_jpg.jpg"
                alt="Xà Lách Tươi Xanh" class="_1U9S1rDspR9EEoiwr1x3Hw" role="presentation" title="Xà Lách Tươi Xanh">
        </div>
        <div class="col-md-4 col-12">
            <img style="width: 100%;border: solid 1px;
                  border-color: solid 1px;
                  border-color: #c8c8c8;
                  border-radius: 7px;"
                src="https://dl.airtable.com/.attachments/78fb2e32e97058fc57ff5178541315fd/6a76f0d2/FS-212x_jpg.jpg"
                alt="Ưu Đãi Inter Eco 14/10 - 30/11" class="_1U9S1rDspR9EEoiwr1x3Hw" role="presentation"
                title="Ưu Đãi Inter Eco 14/10 - 30/11">
        </div>
    </div>
</div>