<div class="container">
  <h4>ƯU ĐÃI ĐỘC QUYỀN</h4>
  <div class="card-deck">
    <div class="card">
      <div class="khoi">
        <img
          src="https://www.williams-sonoma.com/wsimgs/ab/images/dp/wcm/201938/0192/double-r-ranch-co-assorted-steak-collection-c.jpg"
          class="card-img-top Responsiveimage" alt="...">

        <div class="cacicon">
          <i class="nho fas fa-exchange-alt"></i> <br> <br>
          <i class="nho fas fa-heart"></i> <br> <br>
          <i class="nho fas fa-cart-plus"></i>
        </div>
      </div>
      <div class="card-body">
        <p>LotteMark</p>
        <h5 class="card-title"><a href="">Cá Ngừ </a><span class="giam">-30%</span></h5>
        <p class="gia">20.000 <sup>đ</sup> <span class="giacu">50.0000<sup>đ</sup></span></p>
        <p>100g</p>
        <a href="#" class="btn btn-primary">XEM THÊM</a>
      </div>
    </div>
    <div class="card">
      <a href="thanbo.html"></a>
      <div class="khoi">
        <img src="https://www.williams-sonoma.com/wsimgs/ab/images/dp/wcm/201938/1077/img85c.jpg" class="card-img-top"
          alt="...">
        <div class="cacicon">
          <i class="nho fas fa-exchange-alt"></i> <br> <br>
          <i class="nho fas fa-heart"></i> <br> <br>
          <i class="nho fas fa-cart-plus"></i>
        </div>
      </div>
      <div class="card-body">
        <p>LotteMark</p>
        <h5 class="card-title"><a href="">Cá Ngừ </a><span class="giam">-30%</span></h5>
        <p class="gia">20.000 <sup>đ</sup> <span class="giacu">50.0000<sup>đ</sup></span></p>
        <p>100g</p>
        <a href="#" class="btn btn-primary">XEM THÊM</a>
      </div>
    </div>
    <div class="card">
      <div class="khoi">
        <img src="http://noiyeuthuong.vn/attachments/photo-1518205019447-070154442341-jpg.1807/" class="card-img-top"
          alt="...">
        <div class="cacicon">
          <i class="nho fas fa-exchange-alt"></i> <br> <br>
          <i class="nho fas fa-heart"></i> <br> <br>
          <i class="nho fas fa-cart-plus"></i>
        </div>
      </div>
      <div class="card-body">
        <p>LotteMark</p>
        <h5 class="card-title"><a href="">Cá Ngừ </a><span class="giam">-30%</span></h5>
        <p class="gia">20.000 <sup>đ</sup> <span class="giacu">50.0000<sup>đ</sup></span></p>
        <p>100g</p>
        <a href="#" class="btn btn-primary">XEM THÊM</a>
      </div>
    </div>
    <div class="card">
      <div class="khoi">
        <img src="https://www.williams-sonoma.com/wsimgs/ab/images/dp/wcm/201938/0229/double-r-ranch-co-prime-rib-c.jpg"
          class="card-img-top" alt="...">
        <div class="cacicon">
          <i class="nho fas fa-exchange-alt"></i> <br> <br>
          <i class="nho fas fa-heart"></i> <br> <br>
          <i class="nho fas fa-cart-plus"></i>
        </div>
      </div>
      <div class="card-body">
        <p>LotteMark</p>
        <h5 class="card-title"><a href="">Cá Ngừ </a><span class="giam">-30%</span></h5>
        <p class="gia">20.000 <sup>đ</sup> <span class="giacu">50.0000<sup>đ</sup></span></p>
        <p>100g</p>
        <a href="#" class="btn btn-primary">XEM THÊM</a>
      </div>
    </div>
  </div>
  <div class="card-deck mt-4">
    <div class="card">
      <div class="khoi">
        <img src="https://i.pinimg.com/564x/9d/b5/93/9db5938410a9be1427e541f85f67ae73.jpg" class="card-img-top"
          alt="...">
        <div class="cacicon">
          <i class="nho fas fa-exchange-alt"></i> <br> <br>
          <i class="nho fas fa-heart"></i> <br> <br>
          <i class="nho fas fa-cart-plus"></i>
        </div>
      </div>
      <div class="card-body">
        <p>LotteMark</p>
        <h5 class="card-title"><a href="">Cá Ngừ </a><span class="giam">-30%</span></h5>
        <p class="gia">20.000 <sup>đ</sup> <span class="giacu">50.0000<sup>đ</sup></span></p>
        <p>100g</p>
        <a href="#" class="btn btn-primary">XEM THÊM</a>
      </div>
    </div>
    <div class="card">
      <div class="khoi">
        <img src="https://www.williams-sonoma.com/wsimgs/ab/images/dp/wcm/201938/0975/img66c.jpg" class="card-img-top"
          alt="...">
        <div class="cacicon">
          <i class="nho fas fa-exchange-alt"></i> <br> <br>
          <i class="nho fas fa-heart"></i> <br> <br>
          <i class="nho fas fa-cart-plus"></i>
        </div>
      </div>
      <div class="card-body">
        <p>LotteMark</p>
        <h5 class="card-title"><a href="">Cá Ngừ </a><span class="giam">-30%</span></h5>
        <p class="gia">20.000 <sup>đ</sup> <span class="giacu">50.0000<sup>đ</sup></span></p>
        <p>100g</p>
        <a href="#" class="btn btn-primary">XEM THÊM</a>
      </div>
    </div>
    <div class="card">
      <div class="khoi">
        <img src="https://i.pinimg.com/474x/48/14/fe/4814fe94676f07028b956027f8d5be5b--meat-food-food-networktrisha.jpg"
          class="card-img-top" alt="...">
        <div class="cacicon">
          <i class="nho fas fa-exchange-alt"></i> <br> <br>
          <i class="nho fas fa-heart"></i> <br> <br>
          <i class="nho fas fa-cart-plus"></i>
        </div>
      </div>
      <div class="card-body">
        <p>LotteMark</p>
        <h5 class="card-title"><a href="">Cá Ngừ </a><span class="giam">-30%</span></h5>
        <p class="gia">20.000 <sup>đ</sup> <span class="giacu">50.0000<sup>đ</sup></span></p>
        <p>100g</p>
        <a href="#" class="btn btn-primary">XEM THÊM</a>
      </div>
    </div>

    <div class="card">
      <div class="khoi">
        <img src="https://www.williams-sonoma.com/wsimgs/ab/images/dp/wcm/201938/0917/img60c.jpg" class="card-img-top"
          alt="...">
        <div class="cacicon">
          <i class="nho fas fa-exchange-alt"></i> <br> <br>
          <i class="nho fas fa-heart"></i> <br> <br>
          <i class="nho fas fa-cart-plus"></i>
        </div>
      </div>
      <div class="card-body">
        <p>LotteMark</p>
        <h5 class="card-title"><a href="">Cá Ngừ </a><span class="giam">-30%</span></h5>
        <p class="gia">20.000 <sup>đ</sup> <span class="giacu">50.0000<sup>đ</sup></span></p>
        <p>100g</p>
        <a href="#" class="btn btn-primary">XEM THÊM</a>
      </div>
    </div>
  </div>
</div>