<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../head/headgiohang %>
</head>

<body class="container-fluid    ">

    <header>
        <% include ../menu %>
    </header>
    <div class="div container">

        <div>
            <form method="POST" action="/editt/<%= soluongs.id %>" style="position: relative; padding-bottom: 1em;">
                <table class="table table-dark" style="position: relative; top: 5em;">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Tên hàng</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Giá phải trả </th>
                            <th scope="col">Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var dem=1; %>
                        <tr>
                            <th scope="row"><%= dem++ %></th>
                            <td><%= soluongs.tenhang %></td>
                            <td><input name="soluong" type="number" id="soluongmua" name="points" min="0" max="100"
                                    step="1" value="<%= soluongs.soluong %>">

                        </tr>
                    </tbody>
                </table>

                <a href="/editt" style="position:relative;
                top: 5em;">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </a>
            </form>
        </div>


    </div>

    <footer style="top: 3em; position: relative;">
        <% include ../footer %>
    </footer>

</body>

</html>

<!-- ======================================================= -->