<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../head/headgiohang %>
</head>

<body class="container-fluid    ">

    <header>
        <% include ../menu %>
    </header>
    <div class="div container">
        <table class="table table-dark" style="position: relative; top: 5em;">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên hàng</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giá phải trả </th>
                    <th scope="col">Action </th>
                </tr>
            </thead>
            <tbody>
                <% var dem=1; %>
                <% var tongtien=0; %>
                <% hangs.forEach(function(hang) {  %>
                <tr>
                    <th scope="row"><%= dem++ %></th>
                    <td><%= hang.tenhang %></td>
                    <td><%= hang.soluong %></td>
                    <% a= hang.tygia * hang.soluong  %>
                    <% tongtien = tongtien + hang.tygia * hang.soluong  %>
                    <td>
                        <% if(a%1000==0){ %>
                        <%= Math.ceil(a/1000) +".000 VNĐ"   %>
                        <% }else { %>
                        <%= Math.ceil(a/1000) +"." + a%1000 +" VNĐ"%>
                        <% }%>
                    </td>
                    <td class="delete" style="position: relative;">
                        <a href="/detele/<%= hang.id %>">
                            <button class="divtrash">
                                <img src="/images/trash.png" class="trash">
                            </button>
                        </a>
                        <a href="/edit/<%= hang.id %>">
                            <button class="divedit">
                                <img src="/images/edit.png" class="edit">
                            </button>
                        </a>
                    </td>
                </tr>
                
                <% }); %>
                  <tr style="position:relative; top: 15px;" > 
                        <td>   </td>
                        <td>Tổng tiền phải trả  </td>
                        <td><%= tongtien %></td>
                    </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" style="position:relative ; top: 5em;">Primary</button>
    </div>
    <footer style="top: 3em; position: relative;">
        <% include ../footer %>
    </footer>

</body>

</html>

<!-- ======================================================= -->