<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../head/headgiohang %>
    
</head>

<body class="container-fluid    ">

    <header>
        <% include ../menu %>
    </header>
    <div class="div container">
        <table class="table table-dark" style="position: relative; top: 5em;">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên hàng</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giá phải trả </th>
                    <th scope="col">Action </th>
                </tr>
            </thead>
            <tbody>
                <% var dem=1; %>
                <% hangs.forEach(function(hang) {  %>
                <tr>
                    <th scope="row"><%= dem++ %></th>
                    <td><%- hang.tenhang %></td>
                    <td><%- hang.soluong %></td>    
                </tr>
                <% }); %>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" style="position:relative ; top: 5em;">Primary</button>
    </div>
    <footer style="top: 3em; position: relative;">
        <% include ../footer %>
    </footer>

</body>

</html>

<!-- ======================================================= -->