<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head/headindex %>
</head>

<body  >

    <header>
        <% include ../partials/menu %>
        <% include ../partials/header %>
    </header>
    <% include ../partials/work/banchay %>
    <% include ../partials/work/tuantungbung %>
    <% include ../partials/work/uudaidocquyen %>
    <% include ../partials/work/congthucbep %>
    <% include ../partials/work/bosuutap %>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>

<!-- ======================================================= -->