<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head/headindex %>
</head>

<body class="container-fluid    ">

    <header>
        <% include ../partials/menu %>
    </header>
    <% include ../partials/work/tuantungbung %>
    <% include ../partials/work/uudaidocquyen %>
    <% include ../partials/work/congthucbep %>
    
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>

<!-- ======================================================= -->