<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="fa/css/all.css">
    <script src="javascripts/jquery-3.4.1.js"></script>
    <script src="javascripts/1.js"></script>
    <link rel="stylesheet" href="stylesheets/1.css">
</head>
<body>
    <section class=>
        <div class="container mt-5">
            <h3 class="text-center pb-3">LOGIN HOMEMART</h3>
            <form class="form-login pt-5 pb-5"  method="POST" action="gologin">
                <div class="form-group">
                          <h3 class="text-center">LOGIN NOW</h3>
                    <BR>
                  <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <input name="password"  type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <div class="button text-center mb-3">
                    <button type="submit" class="btn btn-primary pr-3 pl-3">LOGIN</button>
                    
                </div>
                <p class="text-center "><a href="">Quên Mật Khẩu?</a></p>
                <p class="text-center">Chưa Có Tài Khoản? <a href="register">Tạo Tài Khoản Ngay</a></p>
               
                <div class="mt-2 text-center">
                    OR LOGIN WITH  <i class="fab fa-facebook-f p-3 text-center"></i>  <i class="fab fa-pinterest p-3 text-center"></i> <i class="fab fa-twitter p-3 text-center"></i>
                </div>
              </form>
        </div>
    </section>
    
       
</body>
</html>