<!-- <!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <LINK REL="SHORTCUT ICON" HREF="logo.png">
        <title>Đăng Kí</title>
        <link rel='stylesheet' href='/stylesheets/regist.css' />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>

</style>

<body>
        <div class="container">
                <div class="login">
                        <div class="col">
                                <form method="POST" action="/registers">
                                        <div class="form-group">
                                                <label for="exampleInputEmail1">Nhập Tên Tài Khoản </label>
                                                <input type="text" name="name" class="form-control" id="exampleInputEmail1"
                                                        aria-describedby="emailHelp" placeholder="Enter name">
                                        </div>
                                        <div class="form-group">
                                                <label for="exampleInputEmail1">Nhập Email</label>
                                                <input type="text" name="email" class="form-control" id="exampleInputEmail1"
                                                        aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                                <label for="exampleInputPassword1">Nhập Mật Khấu</label>
                                                <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                                                        placeholder="Password">
                                        </div>
                                      
                                        <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Lưu Mật Khẩu</label>
                                        </div>
                                        <div class="w3" style="padding-top:30px; ">
                                                <button type="submit" class="btn btn-primary">Đăng kí</button>                                            
                                        </div>
                                </form>
                        </div>

                </div>
        </div>

</body>

</html>

 -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
     <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
     <link rel="stylesheet" href="fa/css/all.css">
     <script src="javascripts/jquery-3.4.1.js"></script>
     <script src="javascripts/1.js"></script>
     <link rel="stylesheet" href="stylesheets/1.css">
 </head>
 <body>
     <section class=>
         <div class="container mt-5">
             <h3 class="text-center pb-3">REGISTER HOMEMART</h3>
               <form class="form-login pt-5 pb-5" method="POST" action="/registers">
                 <div class="form-group ">
                     <h3 class="text-center">REGISTER NOW</h3>
                         <input type="email"name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                       </div>
                 <div class="form-group">
                   <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
                 </div>
                 <div class="form-group">
                         <input type="password"name="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
                 </div>
                 <div class="form-check">
                   <input type="checkbox" class="form-check-input" id="exampleCheck1">
                   <label class="form-check-label" for="exampleCheck1">Lưu Mật Khẩu</label>
                 </div>
                 <div class="button text-center mb-3">
                     <button type="submit" class="btn btn-primary pr-3 pl-3">ĐĂNG KÍ</button>
                 </div>
                 <div class="mt-2 text-center">
                     OR LOGIN WITH  <i class="fab fa-facebook-f p-3 text-center"></i>  <i class="fab fa-pinterest p-3 text-center"></i> <i class="fab fa-twitter p-3 text-center"></i>
                 </div>
                 
               </form>
             </div>
     </section>
     
        
 </body>
 </html>