*{margin: 0;padding: 0;}
body{
    margin: 0;padding: 0;
}
.container-fuild{
    max-width: 1500px;
}
.navbar{
    background-color: #eef9e8;
    color: black;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
/* menutrai */
.menu-trai{
    border-right: solid 1px #ececec;
}
.sanpham{
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #495057;
    min-height: 1.2em;
    font-family: inherit;
    padding-left: 15px;
    border-bottom: solid 1px #dfdfdf;

}
.form-control {
    border: none;
    background-color: transparent;
    outline: none !important;

}
option{
    background-color: transparent;
    outline: none !important;
}
.danhmuc-thuonghieu {
    border-bottom: solid 1px #dfdfdf;
}
/* menuphai */


/* thanhcongcu */

.thanhcongcu{
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #495057;
    min-height: 1.2em;
    font-family: inherit;
    padding: 15px;
    display: inline-block;

}
/* themmoi */
.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}
.themmoi .btn-outline-danger:hover{
    background-color:#dc3545 ;
    color: white;
}
