
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head/headindex %>
</head>

<body  >

    <header>
        <% include ../partials/menu %>
    </header>
    <h3 class="p-5 text-center">Đăng kí chủ cửa hàng</h3>
    
    <div class="container mt-2" id="dkchucuahang">
        <form method="POST"  action="/capquyenchucuahang">
            <div class="form-row">
               <u><b>Địa chỉ kho hàng</b> </u>
              </div>
            <div class="form-group">
              <label for="inputAddress">Địa chỉ</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputAddress">Quốc gia</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputAddress">Tỉnh/Thành phố</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputAddress">Quận/Huyện</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="">
            </div>
              <div class="form-group">
                <label for="inputAddress">Phường/Xã</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="">
              </div>
              <hr>
              <!-- end dia chi kho hang -->
              <div class="form-row">
                <u><b>Địa chỉ kinh doanh</b> </u>
               </div>
             <div class="form-group">
               <label for="inputAddress">Địa chỉ</label>
               <input type="text" class="form-control" id="inputAddress" placeholder="">
             </div>
             <div class="form-group">
                 <label for="inputAddress">Quốc gia</label>
                 <input type="text" class="form-control" id="inputAddress" placeholder="">
             </div>
             <div class="form-group">
                 <label for="inputAddress">Tỉnh/Thành phố</label>
                 <input type="text" class="form-control" id="inputAddress" placeholder="">
             </div>
             <div class="form-group">
                 <label for="inputAddress">Quận/Huyện</label>
                 <input type="text" class="form-control" id="inputAddress" placeholder="">
             </div>
               <div class="form-group">
                 <label for="inputAddress">Phường/Xã</label>
                 <input type="text" class="form-control" id="inputAddress" placeholder="">
               </div>
               <hr>
              <!-- end dia chi kinh doanh -->

               <div class="form-row">
                <u><b>Địa chỉ hoàng hàng</b> </u>
               </div>
             <div class="form-group">
               <label for="inputAddress">Địa chỉ</label>
               <input type="text" class="form-control" id="inputAddress" placeholder="">
             </div>
             <div class="form-group">
                 <label for="inputAddress">Quốc gia</label>
                 <input type="text" class="form-control" id="inputAddress" placeholder="">
             </div>
             <div class="form-group">
                 <label for="inputAddress">Tỉnh/Thành phố</label>
                 <input type="text" class="form-control" id="inputAddress" placeholder="">
             </div>
             <div class="form-group">
                 <label for="inputAddress">Quận/Huyện</label>
                 <input type="text" class="form-control" id="inputAddress" placeholder="">
             </div>
               <div class="form-group">
                 <label for="inputAddress">Phường/Xã</label>
                 <input type="text" class="form-control" id="inputAddress" placeholder="">
               </div>
                
               <a href="" style="position:relative;
               top: 5em;">
                   <button type="submit" class="btn btn-primary" onclick="thongbao()">Edit</button>
               </a>
               <script> function thongbao(){
                 alert("Bạn đã đăng ký thành công thành chủ cửa hàng vui lòng đăng nhập lại")
               } </script>
        </form>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>

<!-- ======================================================= -->