<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head/headindex %>
</head>

<body>

  <header>
    <% include ../partials/menu %>
  </header>
  <h3 class="p-5 text-center">Đăng kí chủ cửa hàng</h3>
  <div class="container mt-2" id="dkchucuahang">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
              checked>
            <label class="form-check-label" for="exampleRadios1">
              Cá nhân
            </label>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
              checked>
            <label class="form-check-label" for="exampleRadios1">
              Công ty
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputAddress">Địa chỉ</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="">
      </div>
      <div class="form-group">
        <label for="inputAddress">Số điện thoại</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="">
      </div>
      <div class="form-group">
        <label for="inputAddress">Nhập lại mật khẩu</label>
        <input type="password" class="form-control" id="inputAddress" placeholder="">
      </div>
      <div class="form-group">
        <label for="inputAddress">Tên cửa hàng</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="">
      </div>
      <div class="form-check">
        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"
          aria-label="..."> <label class="form-check-label" for="exampleRadios1">
          Tôi đã đọc và đồng ý với Điều khoản và Điều Kiện của HomeMarket
        </label>
      </div>
      <a href="/dangkydiachicuahang" class="btn btn-outline-danger text-center">Đăng kí</a>
    </form>
  </div>
  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>

<!-- ======================================================= -->